@mixin font($ff, $fz, $fw) {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
}

@mixin container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@mixin invisible {
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
